/* add custom styles */

.logo{
  display: block;
  width: 400px;
  margin: 0 auto;
}

h3 {
  display: block;
  text-align: center;
}

.container {
  margin: 0 auto;
  background-color: #5C7A99;
}

.quiz {
}
